**/node_modules
**/dist
**/.cache
**/.git
**/.gitignore
**/.env
**/.env.*
**/.DS_Store
**/npm-debug.log*
**/uploads
**/__pycache__
**/.venv
**/*.pyc

.local
.agents
.config
.replit
replit.nix
attached_assets
zipFile.zip
*.csv
bitacora.md
